:host{
    .patientinfo{
        form{
            .formItem{
                margin-bottom: 0.3rem;
                label{
                    width: 5rem;
                    display: inline-block;
                }
            }
        }
    }
}